<h1 class="display-4 text-center">View Outing</h1>

<div class="container card text-center">
    <div class="card-body">
        Outing ID: <%= @outing.id %> <br>
        Date: <%= @outing.date %> <br>
        Start Time: <%= @outing.start_time.to_s(:time) %> <br>
        End Time: <%= @outing.end_time.to_s(:time) %> <br>
        Duration: <%=  (@outing.end_time - @outing.start_time).to_f/60 %> mins <br>
        <%= link_to "Add Action", outing_actions_path(@outing.id), method: :get, :class => "btn btn-outline-success my-2 my-sm-0" %>
    </div>
    </div>
<p>

<h1 class="display-4 text-center">Current Actions</h1>

<div class="row">
    <% @outing.actions.each do |x| %>
        <div class="col-sm-3">
            <div class="card">
            <div class="card-body">
                <%= x.id %><br>
                <%= x.name %><br>
                <%= x.description %><br>
                <%= x.location %><br>
                <%= link_to "Delete", outing_action_path(@outing.id, x.id), method: :delete, data: {confirm: 'Are you sure you want to delete this action?'}%>
            </div>
            </div>
        </div>
    <%end%>
</div>